@import url("global.css");

.signup1-wrapper {
  background-color: #f1fafe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup1-wrapper > h1 {
  margin-top: 113px;
  margin-bottom: 0px;
  color: #000;

  /* Heading/Medium */
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  letter-spacing: 1px;
}

.signup1-wrapper > p {
  margin-top: 0px;
  margin-bottom: 56px;
  color: #000;

  /* Body/Large */
  font-family: Pretendard;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 28.5px */
}

.signup-type {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 393px;
}

.student,
.teacher {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  flex-direction: column;
  width: 302px;
  height: 301px;
  border-radius: 8px;
  border: 1px solid var(--neutral-100, #e6e8e9);
  background: var(--base-white, #fff);
  text-align: center;
  padding: 20px;
}

#student-img,
#teacher-img {
  width: 144px;
  height: 144px;
  margin-top: 36px;
  margin-bottom: 12px;
  flex-shrink: 0;
}

.signup-type > p {
  color: #000;
  text-align: center;
  /* Body/Medium */
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25.5px */
}

#student-signup-button {
  width: auto;
  height: 35px;
  padding: 6px 32px;
  margin-top: 0px;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--primary-700, #a2ddf6);
  background: var(--primary-300, #a2ddf6);
  color: #000;
  text-align: center;
  /* Label/Small */
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 22.5px */
  cursor: pointer;
}

#teacher-signup-button {
  width: auto;
  height: 35px;
  padding: 6px 32px;
  margin-top: 0px;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--primary-700, #41809b);
  background: var(--secondary-base, #41809b);
  color: #fff;
  text-align: center;
  /* Label/Small */
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 22.5px */
  cursor: pointer;
}
